openapi: 3.0.4
info:
  title: Calyptia Cloud agent cluster_object_regex API
  version: '1.0'
  description: HTTP API service of Calyptia Cloud
  contact:
    name: Calyptia
    email: hello@calyptia.com
    url: https://cloud.calyptia.com
  termsOfService: https://calyptia.com/terms/
servers:
- url: https://cloud-api.calyptia.com
  description: prod
- url: https://cloud-api-dev.calyptia.com
  description: dev
- url: https://cloud-api-staging.calyptia.com
  description: staging
- url: http://localhost:{port}
  description: local
  variables:
    port:
      default: '5000'
tags:
- name: cluster_object_regex
paths:
  /v1/pipelines/{pipelineID}/cluster_object_regexes:
    parameters:
    - name: pipelineID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: createClusterObjectRegex
      summary: Create cluster object regex
      description: Create a new cluster object regex.
      security:
      - user: []
      - project: []
      tags:
      - cluster_object_regex
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterObjectRegex'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedClusterObjectRegex'
    get:
      operationId: clusterObjectRegexes
      summary: Cluster object regexes
      description: List all cluster object regexes in descending order with backward pagination.
      security:
      - user: []
      - project: []
      tags:
      - cluster_object_regex
      parameters:
      - name: last
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Last cluster object regexes.
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Cluster object regexes before the given cursor.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterObjectRegexes'
  /v1/cluster_object_regexes/{regexID}:
    parameters:
    - name: regexID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: clusterObjectRegex
      summary: Cluster object regex
      description: 'Retrieve a single cluster object regex by ID.

        On this endpoint, all the matching cluser objects are also returned.'
      security:
      - user: []
      - project: []
      tags:
      - cluster_object_regex
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterObjectRegex'
    patch:
      operationId: updateClusterObjectRegex
      summary: Update cluster object regex
      description: Update a cluster object regex details.
      security:
      - user: []
      - project: []
      tags:
      - cluster_object_regex
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterObjectRegex'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedClusterObjectRegex'
    delete:
      operationId: deleteClusterObjectRegex
      summary: Delete cluster object regex
      description: Delete a single cluster object regex by its ID.
      security:
      - user: []
      - project: []
      tags:
      - cluster_object_regex
      responses:
        '204':
          description: No Content
components:
  schemas:
    UpdateClusterObjectRegex:
      type: object
      properties:
        regex:
          type: string
          minLength: 0
          nullable: true
          default: null
        description:
          type: string
          maxLength: 100
          nullable: true
          default: null
    CreatedClusterObjectRegex:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - createdAt
    UpdatedClusterObjectRegex:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required:
      - updatedAt
    ClusterObjectRegex:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pipelineID:
          type: string
          format: uuid
        regex:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        clusterObjects:
          type: array
          items:
            $ref: '#/components/schemas/ClusterObject'
          nullable: true
          default: null
          description: Will only be present on the `clusterObjectRegex` operation.
      required:
      - id
      - pipelineID
      - regex
      - description
      - createdAt
      - updatedAt
    ClusterObject:
      type: object
      description: A kubernetes cluster object that belongs to a given core instance.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          format: kubernetes label
        kind:
          $ref: '#/components/schemas/ClusterObjectKind'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - kind
      - createdAt
      - updatedAt
    CreateClusterObjectRegex:
      type: object
      properties:
        regex:
          type: string
          minLength: 0
        description:
          type: string
          maxLength: 100
      required:
      - regex
      - description
    ClusterObjectKind:
      type: string
      description: Kind of the kubernetes object
      default: namespace
      enum:
      - namespace
    ClusterObjectRegexes:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClusterObjectRegex'
        endCursor:
          type: string
          nullable: true
          default: null
      required:
      - items
      - endCursor
  securitySchemes:
    user:
      type: http
      scheme: bearer
    project:
      name: X-Project-Token
      type: apiKey
      in: header
    auth0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sso.calyptia.com/oauth/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://sso.calyptia.com/authorize
          tokenUrl: https://sso.calyptia.com/oauth/token
          scopes: {}
