openapi: 3.0.4
info:
  title: Calyptia Cloud agent pipeline_status API
  version: '1.0'
  description: HTTP API service of Calyptia Cloud
  contact:
    name: Calyptia
    email: hello@calyptia.com
    url: https://cloud.calyptia.com
  termsOfService: https://calyptia.com/terms/
servers:
- url: https://cloud-api.calyptia.com
  description: prod
- url: https://cloud-api-dev.calyptia.com
  description: dev
- url: https://cloud-api-staging.calyptia.com
  description: staging
- url: http://localhost:{port}
  description: local
  variables:
    port:
      default: '5000'
tags:
- name: pipeline_status
paths:
  /v1/aggregator_pipelines/{pipeline}/status_history:
    parameters:
    - schema:
        type: string
        format: uuid
      name: pipeline
      in: path
      required: true
    get:
      tags:
      - pipeline_status
      summary: Pipeline status history
      operationId: pipelineStatusHistory
      description: 'Status history from a pipeline.

        Every time a pipeline status is changed, a new history entry with the change is created.'
      security:
      - user: []
      - project: []
      parameters:
      - schema:
          type: integer
          minimum: 0
        in: query
        name: last
        description: Last history entries.
      - schema:
          type: string
          enum:
          - NEW
          - FAILED
          - STARTING
          - STARTED
          - DELETED
        in: query
        name: status
        description: Filter status entries with matching status.
      - schema:
          type: string
          enum:
          - classic
          - json
          - yaml
        in: query
        name: config_format
        description: Desired output config format.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineStatus'
components:
  schemas:
    PipelineEvent:
      type: object
      description: Pipeline Status event.
      properties:
        source:
          type: string
          enum:
          - k8s:deployment
          - k8s:pod
        reason:
          type: string
        message:
          type: string
        loggedAt:
          type: string
          format: date-time
      required:
      - source
      - reason
      - loggedAt
    PipelineStatus:
      type: object
      description: Pipeline status history entry.
      properties:
        id:
          type: string
          format: uuid
        config:
          $ref: '#/components/schemas/AgentConfig'
        status:
          type: string
          enum:
          - NEW
          - FAILED
          - STARTING
          - STARTED
          - SCALING
          - CHECKS_OK
          - CHECKS_FAILED
        events:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/PipelineEvent'
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - config
      - status
      - createdAt
    AgentConfig:
      type: object
      description: Agent configuration history entry.
      properties:
        id:
          type: string
          format: uuid
        rawConfig:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - rawConfig
      - createdAt
  securitySchemes:
    user:
      type: http
      scheme: bearer
    project:
      name: X-Project-Token
      type: apiKey
      in: header
    auth0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sso.calyptia.com/oauth/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://sso.calyptia.com/authorize
          tokenUrl: https://sso.calyptia.com/oauth/token
          scopes: {}
